@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: auto;
  @apply bg-white text-zinc-900 dark:bg-zinc-900 dark:text-zinc-100;
}

div#__next {
  height: 100%;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
