@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: auto;
}

div#__next {
  height: 100%;
  @apply bg-white text-white dark:bg-zinc-900 dark:text-zinc-100;
}
